/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTE GOV.BR */
body {
    font-family: "Rawline", "Segoe UI", Arial, sans-serif;
    background-color: #092379bd; /* fundo branco gov.br */
    color: #000000;
}

/* TOPO ESTILO GOV.BR */
header {
    background-color: #092379bd; /* branco */
    padding: 35px 20px;
    text-align: center;
    border-bottom: 4px solid #F2C94C; /* linha amarela gov.br */
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #000000;
    margin-bottom: 5px;
}

header p {
    font-size: 2rem;
    color: #000000;
}

header span {
    color: #057e0b;
    font-weight: bold;
}

/* CONTAINER DO FORMULÁRIO */
section.container {
    background: #ffffffb4;
    margin: 40px auto;
    padding: 35px;
    width: 95%;
    max-width: 780px;
    border-radius: 12px;
    border: 1px solid #E5EAF0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

section h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

/* FORMULÁRIO */
label {
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #DDE3E9;
    background-color: #FFFFFF;
    border-radius: 6px;
    font-size: 16px;
    transition: .2s;
}

/* FOCO */
input:focus {
    border-color: #1351B4;
    outline: none;
    box-shadow: 0 0 0 2px rgba(19, 81, 180, 0.15);
}

/* BOTÃO GOV.BR */
.animated-button {
    background-color: #1351B4;
    padding: 14px 25px;
    color: white;
    display: inline-block;
    margin-top: 25px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    transition: .2s;
    TEXT-ALIGN: center;
}

.animated-button:hover {
    background-color: #0F4898;
}

/* Remover spans da animação antiga */
.animated-button span {
    display: none;
}

/* RODAPÉ */
footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #E5EAF0;
    font-size: 14px;
    color: #000000;
}
/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-box {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 350px;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.popup-box p {
    font-size: 18px;
    margin-bottom: 15px;
}

.popup-box a {
    display: block;
    background: #25D366;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 15px;
}

.popup-box button {
    background: #1351B4;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


/* MOBILE */
@media (max-width: 600px) {
    header h1 {
        font-size: 22px;
    }
    section.container {
        padding: 22px;
    }
    input {
        font-size: 15px;
    }
    .animated-button {
        font-size: 16px;
    }
}
